.git
.gitignore
.env
*.md
vendor/
node_modules/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
*.log
.DS_Store
docker-compose.yml
Dockerfile*
.dockerignore
Thumbs.db
.idea/
.vscode/
*.tmp
*.temp 